.vs
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
.env
.venv
env/
venv/

# IDE
.idea/

# Static files
static/

# Sensitive files
instance/
.flaskenv

*.zip