commands:
  01_install_odbc:
    command: |
      sudo yum localinstall -y /tmp/mysql-connector-odbc-9.0.0-1.el9.x86_64.rpm
  # Comment out or remove the cleanup if not needed
  # 02_cleanup:
  #   command: |
  #     sudo rm /tmp/mysql-connector-odbc-9.0.0-1.el9.x86_64.rpm  # Clean up the downloaded file
