files:
  "/etc/nginx/nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      user  nginx;
      worker_processes  1;

      events {
          worker_connections  1024;
      }

      http {
          include       mime.types;
          default_type  application/octet-stream;

          # Increase these values as needed
          types_hash_max_size 4096;
          types_hash_bucket_size 128;

          log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                              '$status $body_bytes_sent "$http_referer" '
                              '"$http_user_agent" "$http_x_forwarded_for"';

          access_log  /var/log/nginx/access.log  main;

          sendfile        on;
          tcp_nopush     on;
          tcp_nodelay    on;
          keepalive_timeout  65;
          client_header_buffer_size 16k;
          large_client_header_buffers 4 16k;
          http_buffers 16 32k;
          http_buffer_size 32k;

          types {
              text/html  html;
              text/css   css;
              text/xml   xml;
              image/gif  gif;
              image/jpeg jpeg;
              application/javascript js;
              application/atom+xml atom;
              application/rss+xml rss;
          }

          include /etc/nginx/conf.d/*.conf;
      }

  # Remove or comment out if not using 00_elasticbeanstalk_proxy.conf
  # "/etc/nginx/conf.d/00_elasticbeanstalk_proxy.conf":
  #   mode: "000644"
  #   owner: root
  #   group: root
  #   content: |
  #     server {
  #         listen 80;
  #         server_name _;

  #         location / {
  #             proxy_pass http://127.0.0.1:8000;
  #             proxy_buffer_size 32k;
  #             proxy_buffers 16 32k;
  #             proxy_busy_buffers_size 128k;
  #             proxy_temp_file_write_size 128k;
  #             proxy_set_header Host $host;
  #             proxy_set_header X-Real-IP $remote_addr;
  #             proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  #             proxy_set_header X-Forwarded-Proto $scheme;
  #         }

  #         access_log /var/log/nginx/access.log;
  #         error_log /var/log/nginx/error.log;
  #     }
